html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
	background-size: 50px;
}

.main-container{
	width: 65%;
	margin: 10px auto;
	background: rgb(255, 255, 255);
	padding: 5px;
	border-radius: 10px;
	text-align: center
}

.avatar{
	height: 20%;
	width: 20%;
	border-radius: 50%;
}
